{% extends 'base.html' %}

{% load static %}

{% block title %}"ИННОВА" - Материально-техническое обеспечение{% endblock %}

{% block body %}<body>{% endblock %}

{% block classheader %}class="skel-layers-fixed"{% endblock %}

{% block content %}
<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Материально-техническое обеспечение и оснащенность образовательного процесса. Доступная среда</h2>
    </header>
    <div class="container">
        <section id="content">
            <p>Страница в разработке</p>
        </section>
    </div>
</section>
{% endblock %}