{% extends 'base.html' %}

{% load static %}

{% block title %}"ИННОВА" - Образование{% endblock %}

{% block body %}<body>{% endblock %}

{% block classheader %}class="skel-layers-fixed"{% endblock %}

{% block content %}
<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Образование</h2>
    </header>
    <div class="container">
        <section id="content">
            <p>Учебный центр проводит обучение по основным программам профессионального обучения по профессиям рабочих
                и должностям служащих; по программам дополнительного образования детей и взрослых, в том числе
                по программам дополнительного профессионального образования<br>
                Обучение ведется на русском языке.<br>
                При обучении используются дистанционные образовательные технологии.</p>
            <section class="docs">
                <p><a href="#">Лицензия на осуществление образовательной деятельности</a></p>
                <p><a href="#">Учебно-производственный план</a></p>
            </section>

            <h4>Информация о реализуемых адаптированных образовательных программах</h4>
                <blockquote>В учебном центре "ИННОВА" отсутствуют обучающиеся — лица с ограниченными возможностями и/или инвалиды, которым требуется обучение по адаптированным образовательным программам.</blockquote>
            <h2>Реализуемые программы</h2>
                <table>
                    <thead></thead>
                        <tr>
                            <th>Название</th>
                            <th>Специализация </th>
                            <th>Продолжительность (ак. ч.) </th>
                            <th>Форма обучения</th>
                            <th>Уровень образования</th>
                            <th>Выдаваемый документ</th>
                        </tr>
                    <tbody>
                        <tr>
                            <td>Многоплодная беременность</td>
                            <td>Пренатальная диагностика</td>
                            <td>36 ак.ч.</td>
                            <td>очное дистанционное</td>
                            <td>Высшее медицинское образование</td>
                            <td>Удостоверение о повышении квалификации</td>
                        </tr>
                        <tr>
                            <td>РАОС - ранний анатомический оптимальный скан. Возможности первого триместра</td>
                            <td>Пренатальная диагностика</td>
                            <td>72 ак.ч.</td>
                            <td>очное дистанционное</td>
                            <td>Высшее медицинское образование</td>
                            <td>Удостоверение о повышении квалификации</td>
                        </tr>
                        <tr>
                            <td>Допплерометрия в акушерстве</td>
                            <td>Пренатальная диагностика</td>
                            <td>18 ак.ч.</td>
                            <td>заочное дистанционное</td>
                            <td>Высшее медицинское образование</td>
                            <td>Сертификат слушателя</td>
                        </tr>
                        <tr>
                            <td>Внутренний и наружный генитальный эндометриоз. Современная ультразвуковая интерпретация (МUSA, IDEA)</td>
                            <td>Акушерство и гинекология</td>
                            <td>36 ак.ч.</td>
                            <td>очное дистанционное</td>
                            <td>Высшее медицинское образование</td>
                            <td>Удостоверение о повышении квалификации</td>
                        </tr>
                        <tr>
                            <td>Актуальные вопросы эндокринной гинекологии</td>
                            <td>Эндокринология, Акушерство и гинекология</td>
                            <td>72 ак.ч.</td>
                            <td>очное дистанционное</td>
                            <td>Высшее медицинское образование</td>
                            <td>Удостоверение о повышении квалификации</td>
                        </tr>
                    </tbody>
                </table>
        </section>
    </div>
</section>
{% endblock %}