{% extends 'base.html' %}

{% load static %}

{% block title %}"ИННОВА" - Финансово-хозяйственная деятельность{% endblock %}

{% block body %}<body>{% endblock %}

{% block classheader %}class="skel-layers-fixed"{% endblock %}

{% block content %}
<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Финансово-хозяйственная деятельность</h2>
    </header>
    <div class="container">
        <section id="content">
            <p>Страница в разработке</p>
        </section>
    </div>
</section>
{% endblock %}