{% extends 'base.html' %}

{% load static %}

{% block title %}"ИННОВА" - Основные сведения об организации{% endblock %}

{% block body %}<body>{% endblock %}

{% block classheader %}class="skel-layers-fixed"{% endblock %}

{% block content %}
<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Основные сведения об образовательной организации</h2>
    </header>
    <div class="container">
        <section id="content">
            <h3>Дата создания образовательной организации</h3>
                <p>01.01.2024 г.</p>
            <h3>Информация об учредителях</h3>
                <p>ООО "Ленэкософт+"</p>
            <h3>Места нахождения образовательной организации</h3>
                <p>Юридический адрес: Санкт-Петербург</p>
                <p>Фактический адрес: Санкт-Петербург</p>
            <h3>Режим и график работы образовательной организации</h3>
                <p>Учебный центр работает в режиме 5-дневной учебной недели с 8:00 до 17:00 часов</p>
            <h3>Контактная информация</h3>
                <ul>
                    <li>Адрес электронной почты</li>
                    <li>Телефон</li>
                </ul>
            <h3>Cтраницы в телекоммуникационной сети "Интернет"</h3>
                <ul>
                    <li>Адрес официального сайта учебного центра: <a href="#">адрес сайта</a></li>
                    <li>СДО Moodle: <a href="#">адрес сайта СДО</a></li>
                </ul>
        </section>
    </div>
</section>
{% endblock %}