{% extends 'base.html' %}

{% load static %}

{% block title %}"ИННОВА" - Документы{% endblock %}

{% block body %}<body>{% endblock %}

{% block classheader %}class="skel-layers-fixed"{% endblock %}

{% block content %}
<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Документы</h2>
    </header>
    <div class="container">
        <section id="content">
            <section class="docs">
                <h2>Учредительные документы</h2>
                    <p><a href="#">Устав учебного центра "ИННОВА"</a></p>
                    <p><a href="#">Свидетельство о государственной регистрации</a></p>
                    <p><a href="#">Лицензия на осуществление образовательной деятельности</a></p>
                <hr/>
                <h2>Локальные нормативные акты</h2>
                    <p><a href="#">Правила внутреннего трудового распорядка</a></p>
                    <p><a href="#">Положение о ценовой политике в отношении образовательных услуг</a></p>
                    <p><a href="#">Положение о внутренней системе оценки качества образования</a></p>
                    <p><a href="#">Положение о нормах профессиональной этики педагогических работников</a></p>
                    <p><a href="#">Положение об оказании платных образовательных услуг</a></p>
                    <p><a href="#">Правила внутреннего распорядка обучающихся</a></p>
                    <p><a href="#">Положение об электронном обучении и использовании дистанционных образовательных технологий</a></p>
                    <p><a href="#">Порядок оформления, возникновения, приостановления и прекращения отношений</a></p>
                    <p><a href="#">Порядок организации и осуществления образовательной деятельности по дополнительным образовательным программам</a></p>
                    <p><a href="#">Порядок проведения самообследования</a></p>
                    <p><a href="#">Положение о сетевой форме реализации образовательных программ</a></p>
                    <p><a href="#">Приказ об утверждении прейскуранта на оказание платных образовательных услуг 2024 г.</a></p>
                    <p><a href="#">Специальная оценка условий труда</a></p>
                    <p><a href="#">Отчет о результатах самообследования</a></p>
                <hr/>
                <h2>Для слушателей</h2>
                    <p><a href="#">Согласие на обработку персональных данных</a></p>
                    <p><a href="#">Заявление на обучение</a></p>
                    <p><a href="#">Лист регистрации слушателя</a></p>
                    <p><a href="#">Заявление на обучение от физического лица</a></p>
                    <p><a href="#">Образец типового договора с ФЛ</a></p>
                    <p><a href="#">Заявка на обучение от юридического лица</a></p>
                    <p><a href="#">Образец договора об оказании платных образовательных услуг</a></p>
                    <p><a href="#">Образцы выдаваемых документов</a></p>
                <hr/>
                <h2>Предписания органов, осуществляющих государственный контроль (надзор) в сфере образования</h2>
                    <p><a href="#">Отсутствуют</a></p>
            </section>
        </section>
    </div>
</section>
{% endblock %}
