{% extends 'base.html' %}

{% load static %}

{% block title %}"ИННОВА" - Руководство компании{% endblock %}

{% block body %}<body>{% endblock %}

{% block classheader %}class="skel-layers-fixed"{% endblock %}

{% block content %}
<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Руководство. Педагогический (научно-педагогический) состав</h2>
    </header>
    <div class="container">
        <section id="content">
            <h3>Руководство</h3>
                <table>
                    <thead></thead>
                        <tr>
                            <th>Должность</th>
                            <th>ФИО</th>
                            <th>Контакты</th>
                        </tr>
                    <tbody>
                        <tr>
                            <td>Генеральный директор</td>
                            <td>Иванов Иван Иванович</td>
                            <td>Санкт-Петербург, ул. Иванова, 1, оф.<br>
                                +7-999-999-11-11<br>
                                info@school-innova.ru</td>
                        </tr>
                        <tr>
                            <td>Исполнительный директор</td>
                            <td>Петров Петр Петрович</td>
                            <td>Санкт-Петербург, ул. Иванова, 1, оф.<br>
                                +7-999-999-11-11<br>
                                info@school-innova.ru</td>
                        </tr>
                        <tr>
                            <td>Заместитель</td>
                            <td>заместители отсутствуют</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            <h3>Педагогический состав</h3>
                <table>
                    <thead></thead>
                        <tr>
                            <th>ФИО</th>
                            <th>Должность</th>
                            <th>Уровень образования / ученая степень</th>
                            <th>Специальность</th>
                            <th>Курсы</th>
                        </tr>
                    <tbody>
                        <tr>
                            <td>Некрасова Екатерина Сергеевна</td>
                            <td>Руководитель направления, преподаватель</td>
                            <td>К.м.н.</td>
                            <td>УЗИ-специалист, акушер, гинеколог</td>
                            <td>
                                <ul>
                                    <li>Многоплодная беременность</li>
                                    <li>Допплерометрия в акушерстве</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Андреева Елена Николаевна</td>
                            <td>Руководитель направления, преподаватель</td>
                            <td>К.м.н., доцент, высшая категория</td>
                            <td>УЗИ-специалист, акушер, гинеколог</td>
                            <td>
                                <ul>
                                    <li>РАОС - ранний анатомический оптимальный скан. Возможности первого триместра</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Болдырева Оксана Григорьевна</td>
                            <td>Руководитель направления, преподаватель</td>
                            <td>К.м.н., высшая категория</td>
                            <td>УЗИ-специалист, акушер, гинеколог</td>
                            <td>
                                <ul>
                                    <li>Внутренний и наружный генитальный эндометриоз. Современная ультразвуковая интерпретация (МUSA, IDEA)</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Саморукова Екатерина Михайловна</td>
                            <td>Руководитель направления, преподаватель</td>
                            <td>Высшее образование,  высшая категория</td>
                            <td>Врач-невролог взрослый</td>
                            <td>
                                <ul>
                                    <li>Невралгия тройничного нерва</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </section>
    </div>
</section>
{% endblock %}
