{% extends 'base.html' %}

{% load static %}

{% block title %}"ИННОВА" - Структура и органы управления образовательной организацией{% endblock %}

{% block body %}<body>{% endblock %}

{% block classheader %}class="skel-layers-fixed"{% endblock %}

{% block content %}
<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Структура и органы управления образовательной организацией</h2>
    </header>
    <div class="container">
        <section id="content">
            <h3>Администрация</h3>
                <table>
                    <thead></thead>
                        <tr>
                            <th>Структурное подразделение</th>
                            <th>Должность</th>
                            <th>ФИО</th>
                            <th>Контакты</th>
                        </tr>
                    <tbody>
                        <tr>
                            <td>Управление</td>
                            <td>Генеральный директор</td>
                            <td>Иванов Иван Иванович</td>
                            <td>Санкт-Петербург, ул. Иванова, 1, оф.<br>
                                +7-999-999-11-11<br>
                                info@school-innova.ru</td>
                        </tr>
                        <tr>
                            <td>Управление</td>
                            <td>Исполнительный директор</td>
                            <td>Петров Петр Петрович</td>
                            <td>Санкт-Петербург, ул. Иванова, 1, оф.<br>
                                +7-999-999-11-11<br>
                                info@school-innova.ru</td>
                        </tr>
                        <tr>
                            <td>Бухгалтерия</td>
                            <td>Главный бухгалтер</td>
                            <td>Сидоров Сидор Сидорович</td>
                            <td>Санкт-Петербург, ул. Иванова, 1, оф.<br>
                                +7-999-999-11-11<br>
                                info@school-innova.ru</td>
                        </tr>
                        <tr>
                            <td>Учебно-методический отдел</td>
                            <td>Руководитель отдела</td>
                            <td>Хрен Хренович Хренов</td>
                            <td>Санкт-Петербург, ул. Иванова, 1, оф.<br>
                                +7-999-999-11-11<br>
                                info@school-innova.ru</td>
                        </tr>
                    </tbody>
                </table>
            <h3>Структурные подразделения</h3>
                <table>
                    <thead></thead>
                        <tr>
                            <th>Направление</th>
                            <th>Должность</th>
                            <th>ФИО</th>
                            <th>Контакты</th>
                        </tr>
                    <tbody>
                        <tr>
                            <td>Акушерство и гинекология</td>
                            <td>Руководитель направления</td>
                            <td>Иванова Иванна Ивановна</td>
                            <td>Санкт-Петербург, ул. Иванова, 1, оф.<br>
                                +7-999-999-11-11<br>
                                info@school-innova.ru</td>
                        </tr>
                        <tr>
                            <td>Ультразвуковая диагностика</td>
                            <td>Руководитель направления</td>
                            <td>Петрова Петра Петрововна</td>
                            <td>Санкт-Петербург, ул. Иванова, 1, оф.<br>
                                +7-999-999-11-11<br>
                                info@school-innova.ru</td>
                        </tr>
                        <tr>
                            <td>Клиника лечения боли</td>
                            <td>Руководитель направления</td>
                            <td>Саморукова И.О.</td>
                            <td>Санкт-Петербург, ул. Иванова, 1, оф.<br>
                                +7-999-999-11-11<br>
                                info@school-innova.ru</td>
                        </tr>
                    </tbody>
                </table>
        </section>
    </div>
</section>
{% endblock %}