{% extends 'base.html' %}
{% load static %}

{% block title %}Личный кабинет пользователя{% endblock %}

{% block body %}<body>{% endblock %}

{% block classheader %}class="skel-layers-fixed"{% endblock %}

{% block content %}
<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Личный кабинет пользователя {{ user.username }}</h2>
    </header>
    <div class="container">
        <section id="content">
            {% if user.first_name and user.last_name %}
                <p>Здравствуйте, {{ user.first_name }} {{ user.last_name }}!</p>
            {% else %}
                <p>Здравствуйте!</p>
            {% endif %}
            <p><a href="{% url 'profile_change' %}">Изменить личные данные</a></p>
            <p><a href="{% url 'password_change' %}">Изменить пароль</a></p>
            <p><a href="{% url 'profile_delete' %}">Удалить пользователя</a></p>
            Выход из личного кабинета
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Выход</button>
            </form>
        </section>
    </div>
</section>
{% endblock %}