{% extends 'base.html' %}

{% load static %}

{% block title %}Регистрация завершена{% endblock %}

{% block body %}<body>{% endblock %}

{% block classheader %}class="skel-layers-fixed"{% endblock %}

{% block content %}
<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Регистрация</h2>
    </header>
    <div class="container">
        <section id="content">
            <p>Регистрация пользователя завершена.</p>
            <p>На адрес электронной почты, указанный при регистрации, выслано письмо для активации Вашего личного кабинета.</p>
        </section>
    </div>
</section>
{% endblock %}