{% extends 'base.html' %}

{% load static %}

{% block title %}"ИННОВА" - Политика конфиденциальности{% endblock %}

{% block body %}<body>{% endblock %}

{% block classheader %}class="skel-layers-fixed"{% endblock %}

{% block content %}
<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Политика конфиденциальности<br />
        в отношении обработки персональных данных</h2>
    </header>
    <div class="container">
        <section id="content">
            <section>
                <h3>Санкт-Петербург<br>
                    Редакция от 18.09.2023 года</h3>
                <p>Данная Политика конфиденциальности определяет порядок сбора, хранения, применения, раскрытия и
                    передачи информации, которую ООО "ИННОВА" (далее ОПЕРАТОР) получает от пользователей и клиентов
                    ресурса (далее ПОЛЬЗОВАТЕЛЬ) https://school-innova.ru (далее — САЙТ). Представленная Политика
                    конфиденциальности распространяется на все сопутствующие ресурсы, поддомены, продукты, сервисы и
                    услуги ОПЕРАТОРА.</p>
                <h3>Общие положения</h3>
                <p>Использование ПОЛЬЗОВАТЕЛЕМ САЙТА означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных ПОЛЬЗОВАТЕЛЯ. В случае несогласия с условиями Политики конфиденциальности ПОЛЬЗОВАТЕЛЬ должен прекратить использование САЙТА.</p>
                <p>Представленная Политика конфиденциальности касается только настоящего САЙТА и информационные данные, которые добровольно предоставляют ПОЛЬЗОВАТЕЛИ. Ее действие не распространяется на сторонние ресурсы, в том числе, те, на которых упоминается САЙТ или на которых содержатся прямые ссылки на САЙТ. ОПЕРАТОР не проверяет достоверность персональных данных, предоставляемых ПОЛЬЗОВАТЕЛЕМ.</p>
                <h3>Персональная информация ПОЛЬЗОВАТЕЛЕЙ, которую обрабатывает ОПЕРАТОР</h3>
                <p>При посещении САЙТА автоматически определяется Ваш IP адрес, имя домена, страну регистрации IP. Также нами фиксируется факты перехода по страницам САЙТА, прочую информацию, которую Ваш браузер предоставляет открыто и добровольно. Данные сведения помогают существенно упростить пользование САЙТОМ, сделать поиск нужных или интересных для Вас материалов намного быстрее и комфортнее.</p>
                <p>На САЙТЕ реализована стандартная технология персональной настройки стилей отображения страниц и размещенного на них контента под параметры конкретно Вашего монитора «cookies». «Куки» — это сохраняющиеся на жестком диске данные о посещаемых веб-сайтах, пользовательских настройках, персональных настройках режима просмотра контента. Реализованная на САЙТЕ технология «cookies» предоставляет информацию о том, с какого стороннего ресурса был выполнен переход на Сайт, имени домена Вашего провайдера, страны посетителя, данные о загруженных материалах с САЙТА. Данная технология используется и браузерными счетчиками компаний Yandex, Rambler, Google.</p>
                <p>«Сookies» не собирает личной или конфиденциальной информации о пользователе, данную технологию можно заблокировать при персональной работе с САЙТОМ, используя настройки Вашего браузера или поставить обязательное уведомление о посылке «куки».</p>
                <p>На САЙТЕ реализована стандартная технология подсчета количества посетителей и просмотров страниц, оценки технических возможностей хост-сервиров, рейтингов, посещаемости сторонних организаций. Данная информация позволяет нам вести учет активности посетителей, актуальности представленного контента, его востребованности, составлять характеристику посещаемой аудитории. Также подобный сбор данных помогает нам располагать страницы и материал наиболее удобным для пользователей образом, обеспечивать эффективное взаимодействие и безупречную работу с браузерами посетителей.</p>
                <p>Мы фиксируем информацию о перемещениях по САЙТУ, просматриваемых страницах в общем, а не персональном порядке. Никакие личные или индивидуальные данные без разрешения пользователей не будет использована ОПЕРАТОРОМ или передана третьим лицам.</p>
                <P>Любая персональная информация, в том числе идентификационная, предоставляется пользователями САЙТА исключительно добровольно. Все данные, которые Вы оставляете на САЙТЕ собственноручно при регистрации, в ходе оформления заказа, заполнения форм (ФИО, адрес электронной почты, контактный телефон, данные кредитной карты, банковских счетов) сохраняются в тайне и не разглашаются. Каждый посетитель САЙТА в праве отказать от предоставления любой персональной информации и посещать ресурс на условиях абсолютной анонимности, кроме случаев, когда данные действия могут помешать корректному пользованию отдельными функциями или возможностями САЙТА.</P>
                <h3>Цели обработки персональной информации ПОЛЬЗОВАТЕЛЕЙ</h3>
                <p>Собранная информация о личных данных посетителей САЙТА может быть применена для следующих целей:</p>
                <ul>
                    <li>Связь с ПОЛЬЗОВАТЕЛЕМ, в том числе направление уведомлений, запросов и информации, касающихся использования САЙТА, работы ОПЕРАТОРА, исполнения соглашений и договоров ОПЕРАТОРА, а также обработка запросов и заявок от ПОЛЬЗОВАТЕЛЯ;</li>
                    <li>Улучшение качества обслуживания клиентов и пользователей. Предоставляемые Вами данные помогают намного эффективнее реагировать на запросы или обращения посетителей, клиентов;</li>
                    <li>Персонализация пользовательского опыта. Информация применяется для составления «портрета» пользователя, определения интересующего Вас контента, актуальных для Вас услуг и сервисов, предоставляемых на САЙТЕ;</li>
                    <li>Обработка заказов и платежей. Предоставленная информация применяется для оформления заказа, контроля поступления оплаты за него. Любая финансовая или персональная информация о наших ПОЛЬЗОВАТЕЛЯХ не передается третьим лицам и сохраняется в тайне.</li>
                </ul>
                <h3>Меры, применяемые для защиты персональной информации ПОЛЬЗОВАТЕЛЯ</h3>
                <p>ОПЕРАТОР принимает необходимые и достаточные организационные и технические меры для защиты персональной информации ПОЛЬЗОВАТЕЛЯ от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.</p>
                <h3>Изменение Политики конфиденциальности. Применимое законодательство</h3>
                <p>ОПЕРАТОР оставляет за собой право менять или корректировать правила и условия Политики конфиденциальности. В случае внесения каких-либо поправок или нововведений в настоящую Политику, указывается дата последнего обновления. Используя данный САЙТ, Вы соглашаетесь с вышеописанными правилами и условиями, а также берете на себя ответственность за периодическое ознакомление с нововведениями и изменениями в Политике конфиденциальности.</p>
                <h3>Отказ от ответственности</h3>
                <p>САЙТ не берет на себя ответственность за действия других сайтов и ресурсов, третьих лиц и сторонних посетителей.</p>
            </section>
        </section>
    </div>
</section>
{% endblock %}